{
	"parser": "@babel/eslint-parser",
	"extends": [
		"airbnb",
		"prettier"
	],
	"plugins": [
		"prettier",
		"jsx-a11y"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"mocha": true,
		"es6": true,
		"jest": true
	},
	"rules": {
		"space-before-function-paren": "off",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
		"linebreak-style": "off",
		"global-require": "off",
		"semi": "warn",
		"arrow-body-style": "off",
		"no-multiple-empty-lines": [
			"warn",
			{
				"max": 1
			}
		],
		"camelcase": "warn",
		"no-unused-vars": "off",
		"no-param-reassign": "off",
		"no-unused-expressions": [
			"error",
			{
				"allowTaggedTemplates": true
			}
		],
		"eol-last": [
			"error",
			"always"
		],
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/no-array-index-key": "off",
		"react/prefer-stateless-function": "warn",
		"react/jsx-one-expression-per-line": "off",
		"react/forbid-prop-types": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"react/function-component-definition": "off",
		"react/button-has-type": "off",
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/no-static-element-interactions": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"jsx-a11y/mouse-events-have-key-events": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"jsx-a11y/no-noninteractive-tabindex": "off",
		"jsx-a11y/control-has-associated-label": "off",
		"import/no-unresolved": "off",
		"import/prefer-default-export": "off",
		"import/extensions": "off"
	}
}