.comment-action {
    padding-left: 8px;
    cursor: auto;
    margin-top: 1px !important;
}

[class*='-col-rtl'] .comment-action {
    padding-right: 8px;
    padding-left: 0;
}

.mtms-comment-discussion .ant-comment-inner{
    padding: 0 !important;
}
