.nowrap {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .nowrap {
        width: 200px;
    }
}

.closeModalDonat {
    padding: 6px;
    display: flex;
    color: rgba(56, 56, 56, 1);
}

.closeModalDonat:hover {
    padding: 6px;
    display: flex;
    border-radius: 100%;
    background-color: rgba(56, 56, 56, .6);
    color: white;
}
