.roomItemTitle {
    display: flex;
    justify-content: space-between;
}

.roomItemTitleItem {
    padding: 4px;
    border: 1px solid var(--color-primary);
}

.roomItemBody{
    border-radius: 4px;
}

.roomItemBodyLive {
    border-radius: 4px;
    border: 1px solid red;
}

.hexagon {
    /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% round 10xp);*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profileName{
    text-align: right;
    display: inline-block;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.threeDot {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
