.roomItemTitle {
    display: flex;
    justify-content: center;
}

.roomItemTitleItem {
    padding: 4px;
    border: 1px solid var(--color-primary);
}

.roomItemBody{
    border-radius: 4px;
}

.roomItemBodyLive {
    border-radius: 4px;
    border: 1px solid red;
}

.hexagon {
    /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% round 10xp);*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
