.roomItemTitle {
    display: flex;
    justify-content: space-between;
}

.roomItemTitleItem {
    padding: 2px 6px;
    border: 1px solid var(--color-primary);
}

.roomItemBody{
    border-radius: 4px;
}

.roomItemBodyLive {
    border-radius: 4px;
    border: 1px solid red;
}

.hexagon {
    /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% round 10xp);*/
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.description {
    min-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profileName{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.threeDot {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.wrapper {
    position: relative;
    cursor: pointer;
}


.wrapperBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.3;
    height: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.headerLiveTime {
    display: flex;
    line-height: 12px;
    gap: 4px;
    align-items: center;
    padding: 6px;
}

.container {
    height: 365px;
}
