@import "antd/dist/antd.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

td {
  border: 0;
}

.ant-select-multiple .ant-select-selector {
  width: 100%;
}
.divider:before,
.divider:after {
  height: 1px !important;
  background-color: #ebebeb;
}
