@import "antd/dist/antd.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

:root {
    --border-radius-buttom: 12px;
    --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

td {
  border: 0;
}

.ant-select-multiple .ant-select-selector {
  width: 100%;
}
.divider:before,
.divider:after {
  height: 1px !important;
  background-color: #ebebeb;
}

.ant-picker-ok > .ant-btn {
  color: #0391fe;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
  background-color: #dbf0ff;
  padding-right: 16px;
  padding-left: 16px;
}
.ant-picker-ok > .ant-btn:hover {
  background-color: #0391fe;
  color: white;
}

.ant-modal-content {
  border-radius: 12px;
}


.overlay-loading {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.ant-popover .ant-btn-primary{
    background-color: #0391fe;
}
