name: Deploy EKS

on:
  push:
    branches:
      - main
jobs:
  dockerize:

    runs-on: self-hosted
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ap-southeast-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: mtms-meeting-cms
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:sha-$GITHUB_SHA .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:sha-$GITHUB_SHA

  deploy:

    runs-on: self-hosted
    needs: dockerize
    steps:

    - name: Checkout devops repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        repository: mtms-network/mono-devops
        ref: 'main'
        token: '${{ secrets.ARC_TOKEN }}'

    - name: Update helm values and deploy staging
      run: |
        sed -i -e "s/tag:.*/tag: sha-$GITHUB_SHA/" ${GITHUB_WORKSPACE}/values/meeting-cms/values.yaml

    - uses: azure/setup-helm@v3
      with:
        version: "v3.9.0"
      id: install

    - name: Release
      run: helm upgrade --install meeting-cms  -n default $GITHUB_WORKSPACE/charts/meeting-cms -f $GITHUB_WORKSPACE/values/meeting-cms/values.yaml
